### non python requirements
## ipfs version 0.14.0 - 0.17.0

setuptools>=68.0.0  # Updated for Python 3.12 compatibility (distutils removed)

## needed for Satori pubsub connection
websocket-client==1.4.2 # not sure if we need this
websockets==10.4 # import websocket; websocket.WebSocket()
